@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: var(--font-lato), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-merriweather), serif;
}

h1 {
  font-size: 62px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 19px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}


